<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{login}"></title>
</head>
<body>
<h1 th:text="#{login}"></h1>
<hr/>
<form method="post" action="/login">
    <span th:text="#{id}"></span> : <input type="text" name="id"/> <br />
    <span th:text="#{password}"></span> : <input type="password" name="password"> <br />
    <input type="submit"/><br/>
    <a href="/"> <span th:text="#{toTitle}"></span> </a>
    <hr/>
    <span> default_customers </span><br/>
    <span> "customer01", "12345" </span><br/>
    <span> "customer02", "12345" </span><br/>
    <span> default_manager </span><br/>
    <span> "manager01" , "12345"</span><br/>
    <span th:text="${message}"></span>
</form>
</body>
</html>