<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form method="post" action="/post/register">
    제목 : <input type="text" name="title" />
    작성자 : <input type="text" name="writerId" th:value="${userId}" disabled="true"/><br />

    분류 :
    <select name="category">
      <option value="Complaint">불만 접수</option>
      <option value="Suggest">제안</option>
      <option value="Refund">환불/교환</option>
      <option value="Praise">칭찬해요</option>
      <option value="Etc">기타 문의</option>
    </select><br />
    <textarea name="content" rows="10" cols="80"></textarea><br />

    <input type="submit" /> <br/>
    <input type="button" onclick = "location.href = '/user'" value="문의 취소">

  </form>
</body>
</html>