<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form method="post" action="/post/register">
    <input type="hidden" th:name="postId" th:value="${post.postId}"/>
    제목 : <span th:text="${post.title}"></span><br />
    문의 작성자 : <span th:text="${post.writerId}"></span><br />
    분류 : <span th:text="${post.category}"></span><br />
    내용 <br/>
    <span th:text="${post.content}"></span> <br/>
    <h3>답변 작성란</h3>
    답변 제목 : <input type="text" name="title" /> <br/>
    <input type="hidden" th:name="category" th:value="Reply"/>
    답변 작성자 : <span th:text="${userId}"></span><br />
    답변 내용 <br/>
    <textarea name="content" rows="10" cols="80"></textarea><br />
    <input type="submit" /> <br/>
    <input type="button" onclick = "location.href = '/user'" value="답변 취소">

  </form>
</body>
</html>