<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{registerReply}"></title>
</head>
<body>
  <h1 th:text="#{registerReply}"></h1>
  <hr/>
  <form method="post" action="/post/register">
    <input type="hidden" th:name="postId" th:value="${post.postId}"/>
    <span th:text="#{title}"></span> : <span th:text="${post.title}"></span><br />
    <span th:text="#{writerId}"></span> : <span th:text="${post.writerId}"></span><br />
    <span th:text="#{category}"></span> : <span th:text="${post.category}"></span><br />
    <span th:text="#{content}"></span> <br/>
    <span th:text="${post.content}"></span> <br/>
    <hr/>
    <h3 th:text="#{reply}"></h3>
    <span th:text="#{title}"></span> : <input type="text" name="title" /> <br/>
    <input type="hidden" th:name="category" th:value="Reply"/>
    <span th:text="#{writerId}"></span> : <span th:text="${userId}"></span><br />
    <span th:text="#{content}"></span> <br/>
    <textarea name="content" rows="10" cols="80"></textarea><br />
    <input type="submit" /> <br/>
    <hr/>
    <input type="button" onclick = "location.href = '/user'" th:value="#{cancelReply}">

  </form>
</body>
</html>