<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <title th:text="#{viewTitle}"></title>
</head>
<body>
    <span th:text="${message}"></span> <span th:text="#{name}"></span> : <span th:text="${user.name}"></span> <br/>
    <a th:href="@{/post/register}" th:unless="${admin} == true"> <span> 문의 하기 </span> </a>
    <!-- 문의 목록 조회 -->
    <br />

    <form method="post" action="/post/filter">
        <select name="category">
            <option value="Complaint">불만 접수</option>
            <option value="Suggest">제안</option>
            <option value="Refund">환불/교환</option>
            <option value="Praise">칭찬해요</option>
            <option value="Etc">기타 문의</option>
        </select>
        <input type="submit" value="필터">
    </form>
    <table>
        <tr>
            <th>REPLY</th>
            <th>TITLE</th>
            <th>CATEGORY</th>
            <th>REGISTER TIME</th>
        </tr>
        <tr th:each="post: ${list}">
                <td th:if="${post.reply == null}"> 답변 안됨 </td>
                <td th:if="${post.reply != null}"> 답변 완료 </td>
                <td><a th:href="@{/post/{postId}(postId=${post.postId})}" th:text="${post.title}"></a></td>
                <td th:text="${post.category}"></td>
                <td th:text="${post.writeTime}"></td>
        </tr>
    </table>
    <a href="/"> <span th:text="#{toTitle}"></span> </a> <br />
    <a href="/logout"> <span th:text="#{logout}"></span> </a> <br />
</body>
</html>
